<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../icons/miniLogoRounded.png">
    <title>Page blocked</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="redirect.css" />
</head>

<body>
    <div class="container">
        <h1 id="site-heading">Loading...</h1>
        <p>
            This website has been blocked due to excessive tracking and data collection behavior that poses a risk
            to
            your privacy.
            Visiting this page could expose your personal information, online habits, and device details to
            third-party
            trackers.
        </p>
        <button class="cool-button">Proceed to site &nbsp; &nbsp; &rarr;</button>
    </div>

    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="carouselInner"></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script src="redirect.js" type="text/javascript"></script>

    <script src="../vendor/bootstrap.bundle.min.js"></script>
</body>

</html>